

.average_container{
    position: relative;
    width: 238px;
    height: 200px;
    background-color: #FF0000;
    color: white;
    border-radius: 5px;
}

.average_container h2 {
    font-size: 16px;
    opacity: 0.5;
    position: absolute;
    top: -9px;
    left: 20px;
    }

