.daily_chart_tooltip {
    background-color: red;
    color: white;
    font-size: 8px;
    padding: 2.5px;}

.daily_chart_tooltip  p {
        padding: 2.5px;
    }

    .average_duration_tooltip {
        background-color: white;
        color: black;
        padding: 1px 5px 1px 5px;
    }
    