.charts_container{
    display: flex;
flex-direction: column;
}

.charts_tryptic{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.allInfos_container {
    display: flex;
    justify-content: space-evenly;
}

.dashboard_main{
    display: flex;
}

.dashboard_infos{
    padding: 100px 99px 0px 63px;}

