.navigation {
    display: flex;
    background-color: black;
    justify-content: space-between;
    align-items: center;
height: 80px;

}

.navigation .logo img{
    width: 100%;
}
.navbar{
    display: inline-flex;}
    
    .navbar a{
        margin-left: 195px;
        font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 24px;
color: #FFFFFF;
text-decoration: none;
     }
    
     .navigation nav{
        font-size: 15px !important;
        margin-left: -50px;
        margin-right: 75px;

     }

