.lateralBar{
    display: flex;
    flex-direction: column;
    width: 90px;
    background-color: black;
    height: 100vh;
    padding-top: 80px;
    padding: 80px 12px 0px 12px;
}

.lateralBar .logo{
    margin-bottom: 15px;
}

.lateralBar p{
    color: white;
    text-orientation: mixed;
  writing-mode: vertical-rl; 
  transform: rotate(180deg);

}

.rightSideInfos_container img{
width: 60px;
}

.logos_container{
   
    height: 55vh;
    display: flex;
    margin-top: 80px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}