.rightSideInfos_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    }

    .rightSideInfos{
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-content: space-between;
        align-items: center;
        background-color: #FBFBFB;;
    }

    .rightLateralInfos{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .card_keyinfo {
        display: flex;
        background-color:  #FBFBFB;;
        padding: 10px;
        margin-left: 20px;
        justify-content: center;
        align-items: center;

    }        
    .card_keyinfo .keyinfo_content {
            margin: 0px 10px 0px 10px;}

    .card_keyinfo .keyinfo_content p {
                font-weight: bold;
                margin: 5px 0px 5px 0px;
                font-size: 14px;
            }

    .card_keyinfo .keyinfo_content   span {
                color: black;
            }
        
    .icon{
        width: 78px;
    }