

.score_container{
    background-color: #FBFBFB    ;
    width: 238px;
}

.goal_chart {
    display: flex;
    justify-content: center;
    position: relative;
    width: 200px;
    height: 200px;
    background-color: #FBFBFB  ;
    border-radius: 5px;
  
    }
    .goal_title {
        position: absolute;
        top: -9px;
        left: 25px;
    }
    .goal_content {
        height: 114px;
        background: white;
        text-align: center;
        position: absolute;
        margin-left: 22px;
        top: 54px;
        width: 150px;
        border-radius: 102px;}
    
        .goal_content  .percentage {
            font-size: 18px;
            margin-bottom: 5px;
        }
        .goal_content .legend {
            margin: 5px 0px 5px 0px;
            color: black;
        }
    
